.container{
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.header{
    margin-bottom: 118px;
}

.content{
    width: 1140px;
    margin: 0 auto 100px auto;
}