.container {
  position: absolute;
  left: 50%;
  top: 35vh;
  transform: translate(-50%, -50%);
  padding: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: #fff;
  width: 36rem;
  z-index: 1010;
  animation-name: fadein;
  animation-duration: 0.3s;
  animation-fill-mode: both;

  display: flex;
  flex-direction: column;
}

.fadeout {
  animation-name: fadeout;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  animation-name: overlay_fadein;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.overlay_fadeout {
  animation-name: overlay_fadeout;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.closebtn {
  align-self: flex-end;
  background-color: transparent;
}

.closebtn svg {
  fill: rgba(0, 0, 0, 0.6);
  transform: scale(1);
}

.container h3 {
  color: var(--color-primary);
  margin: 15px auto 65px auto;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.formgroup2 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.formgroup3 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.formgroup3 button {
  flex: 1;
  height: 36px;
  color: #fff;
}

.resetbtn {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 2px;
}

.resetbtn:hover{
    background-color: rgba(0, 0, 0, 0.5);
  }

.submitbtn {
  color: #fff;
  background-color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 2px;
}

.submitbtn:hover {
    background-color: var(--color-primary-dark);
  }

@keyframes fadein {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
}

@keyframes fadeout {
  0% {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.7);
    visibility: hidden;
  }
}

@keyframes overlay_fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay_fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
