.container {
}

.container h2 {
  font-size: 2rem;
  color: rgba(0, 0, 0, 1);
}

.search_container {
  display: flex;
  margin: 60px 0 25px 0;
}

.form {
  flex: 1;
  display: flex;
  align-items: center;
  margin-right: 3px;
}

.form input {
  flex: 1;
  border-radius: 3px 0 0 3px;
}

.form button {
  width: 5rem;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1px 1px;
  border-radius: 0 3px 3px 0;
}

.form button:hover svg {
  fill: rgba(0, 0, 0, 0.8);
}

.form button svg {
  margin: auto;
  fill: rgba(0, 0, 0, 0.5);
  transform: scale(0.7);
}

.addbtn {
  width: 8rem;
  color: #fff;
  background-color: var(--color-primary);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 1px 1px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addbtn:hover{
    background-color: var(--color-primary-dark);
}

.addbtn svg{
  fill: #fff;
  transform: scale(0.75);
  margin-right: 6px;
}

.table {
  background-color: #fff;
  padding: 20px 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  
}

.viewbtn{
    background-color: var(--color-primary-light);
    border-radius: 30px;
    padding: 0 1px;
    z-index: 200;
    margin-right: 3px;
}

.viewbtn svg{
    fill: var(--color-primary);
    transform: scale(0.6);
}

.removebtn{
    background-color: var(--color-danger-light);
    border-radius: 30px;
    padding: 3px 5px;
    z-index: 200;
}

.removebtn svg{
    fill: var(--color-danger);
  transform: scale(0.9);
}
